{% extends "base/site_base_support.html" %}
{% block support_content %}
{% load custom_filters %}

<h3>{{title}}</h3>
<div class="text-base text-gray-600 margin-bottom-4">
    {{instructions}}
</div>

{# Note: The "Email Address" field will be auto-populated with the authenticated user's email in a future update #}

<form class="usa-form" enctype="multipart/form-data" method="post" action="." role="form" novalidate>

    {% csrf_token %}

    {% if form.errors %}
    <div class="usa-alert usa-alert--error" role="alert">
        <div class="usa-alert__body">
            <h4 class="usa-alert__heading">Please correct the following errors</h4>
            {% for field in form %}
            {% if field.errors %}
            <p class="usa-alert__text">{{field.label_tag}} {{ field.errors|striptags }}</p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% for field in form %}
        {% if field.name != 'id' or form.instance.id %}
            {{ field|as_epa }}
        {% endif %}
    {% endfor %}

    <div class="usa-form-group margin-top-4">
        <button type="submit" class="usa-button">Save</button>
    </div>
</form>

{% endblock %}