{% extends 'main/base.html' %}
{% block content %}
<h2>Upcoming Events</h2>
<h4>
    Check back often for upcoming events, presentations, training sessions,
    and more on the DataSearch tool.
</h4>
<hr />
<ul class="usa-card-group">
    <li class="usa-card usa-card--flag tablet:grid-col-12">
        <div class="usa-card__container">
            <header class="usa-card__header">
                <h4 class="usa-card__heading">
                    Microplastics Project ORD -- Microsoft Teams Meeting
                </h4>
            </header>
            <div class="usa-card__media grid-col-3">
                <div class="usa-card__img">
                    <div class="margin-2em">
                        <h4>MON</h4>
                        <h4>July 20</h4>
                        <h4>2020</h4>
                    </div>
                </div>
            </div>
            <div class="usa-card__body">
                <!-- NOTE: This section is paragraph text in an event card's body. -->
                <p>
                    First meeting discuss progress.
                    <mark>Meetings begin every week 0830 Hrs. MS Teams.</mark>
                </p>
                <button class="usa-button"
                        onclick="window.location.href='https://teams.microsoft.com/l/meetup-join/19%3ameeting_OWQzMzExNjctNDdhMy00ZTc0LWFhNTQtZGQ4ZTFkNGY4NjJl%40thread.v2/0?context=%7b%22Tid%22%3a%2288b378b3-6748-4867-acf9-76aacbeca6a7%22%2c%22Oid%22%3a%221b785807-e71d-456f-a25c-d3aa9129d28f%22%7d'">
                    Join Meeting
                </button>
            </div>
        </div>
    </li>
</ul>
{% endblock %}
