{% extends 'main/base.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <h4>Are you sure you want to delete "{{ object }}"?</h4>

    <div class="usa-button-group">
        <li class="usa-button-group__item">
            <button class="usa-button usa-button--secondary" type="submit" value="Confirm">Delete</button>
        </li>
        <li class="usa-button-group__item">
            <button class="usa-button usa-button--accent-warm" type="reset" onclick="window.location='{{previous_url}}'">Go back</button>
        </li>
    </div>
</form>

{% endblock %}
