{% extends 'main/base.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <h4>Are you sure you want to delete "{{ object }}"?</h4>

    <div class="usa-button-group" role="group" aria-label="Delete confirmation actions">
        <button class="usa-button usa-button--secondary" type="submit" value="Confirm" aria-label="Confirm deletion">Delete</button>
        <button class="usa-button usa-button--accent-warm" type="button" onclick="window.location='{{previous_url}}'" aria-label="Cancel deletion and go back">Go back</button>
    </div>
</form>

{% endblock %}
