
<div class="usa-button-group margin-top-2">
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--secondary" type="reset" onclick="window.location.href='{{previous_url}}'">
      &laquo; Cancel
    </button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--accent-warm" type="reset">
      Reset Inputs
    </button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button" type="submit">Save &raquo;</button>
  </li>
</div>
