<div class="usa-button-group margin-top-2" role="group" aria-label="Navigation buttons">
  <a class="usa-button" href="{{previous_url}}">&laquo; Previous Page</a>
  {% if user_can_edit %}
  <a class="usa-button usa-button--accent-warm" href="{{edit_url}}">
    <svg class="usa-icon" aria-hidden="true" role="img">
      <use href="https://www.epa.gov/themes/epa_theme/images/sprite.svg#edit"></use>
    </svg>
    <span>Edit Page</span>
  </a>
  {% endif %}
  <a class="usa-button" href="{{next_url}}">Next Page &raquo;</a>
  <!-- <a class="usa-button usa-button--secondary" href="/qapp/1/sectionb/detail">Skip to Section B &raquo;</a> -->
</div>
