
<div class="usa-button-group margin-top-2">
  <li class="usa-button-group__item">
    <a class="usa-button" href="{{previous_url}}">&laquo; Previous Page</a>
  </li>
  <li class="usa-button-group__item">
    <a class="usa-button usa-button--accent-warm" href="{{edit_url}}">
      <!-- TODO: I need to figure out the sprite icons... -->
      <!-- <svg class="usa-icon" aria-hidden="false" focusable="false" role="img">
        <use href="https://www.epa.gov/themes/epa_theme/images/sprite.svg#edit"></use>
      </svg> -->
      Edit Page
    </a>
  </li>
  <li class="usa-button-group__item">
    <a class="usa-button" href="{{next_url}}">Next Page &raquo;</a>
  </li>
</div>
