{% include 'epa/head.html' %}
{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="EPA QAPP Builder Application">

<div class="skiplinks" role="navigation" aria-labelledby="skip-to-main--624dbe8d6ad20">
  <a id="skip-to-main--624dbe8d6ad20" href="#main" class="skiplinks__link visually-hidden focusable">Skip to main content</a>
</div>

{% include 'epa/section_banner.html' %}
{% include 'epa/header.html' %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/app.css' %}" />

<!-- main JS -->
<script type="text/javascript" src="{% static 'scripts/app.js' %}"></script>
