{% extends 'main/base_with_side_nav.html' %}
{% load static %}

{% block content %}
    {% load custom_filters %}
    <h2>{{ title }}</h2>

    {% if boilerplate %}
    <p>{{ boilerplate|linebreaksbr }}</p>
    {% endif %}

    <div class="usa-form-group">
        <label class="usa-label">Organization Chart</label>
        {% if object.org_chart %}
            <div class="margin-top-1">
                <img src="{{ object.org_chart.url }}" alt="Organization Chart" class="usa-image">
            </div>
            <div class="margin-top-1">
                <small class="usa-hint">Filename: {{ object.org_chart.name|split:"/"|last }}</small>
            </div>
        {% else %}
            <p class="usa-hint">No organization chart has been uploaded.</p>
        {% endif %}
    </div>

    {% include 'detail_buttons_partial.html' %}
{% endblock %}