<!-- Manually render the accessibility checkbox -->
<div class="usa-form-group">
    <legend class="usa-legend">Accessibility</legend>
    <div class="usa-checkbox">
        <input readonly="true" type="checkbox" name="accessibility" disabled
                class="usa-checkbox__input" onclick="return false;"
                id="accessibility-checkbox"
                {% if  object.accessibility %}
                checked
                {% endif %}
        />
        <label class="usa-checkbox__label" for="accessibility-checkbox">
            I do NOT want this QAPP internally shared and
            accessible on the ORD intranet site.
        </label>
    </div>
</div>
