{% extends 'main/base.html' %}

{% block content %}
  <h2>{{ title }}</h2>

  {{ object.render_details }}

  <h3>Version Control</h3>
  <table class="usa-table">
    <thead>
      <th>Updated On</th>
      <th>Authors</th>
      <th>Description</th>
    </thead>
    <tbody>
      {% if object.versions %}
      {% for version in object.versions %}
        <tr>
          <td>{{ version.updated_on }}</td>
          <td>{{ version.authors }}</td>
          <td>{{ version.description }}</td>
        </tr>
      {% endfor %}
      {% else %}
      <tr><td colspan="3">No previous versions...</td></tr>
      {% endif %}
    </tbody>
  </table>
  {% include 'detail_buttons_partial.html' %}
{% endblock %}
