{% extends 'main/base_with_side_nav.html' %}
{% load static %}

{% block content %}
    {% load custom_filters %}
    <h2>{{ title }}</h2>
    <form method="post" aria-label="Section A1 Form">
        {% csrf_token %}
        <!-- {{ form.as_epa }} -->

        {% if form.non_field_errors %}
        <div class="usa-alert usa-alert--error" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
        {% endif %}

        <!-- Render other fields automatically -->
        {{ form.ord_center|as_epa }}
        {{ form.division|as_epa }}
        {{ form.branch|as_epa }}
        <!-- NOTE: Took title out of Section A1, it lives in Qapp model -->
        {{ form.ord_national_program|as_epa }}
        {{ form.version_date|as_epa }}
        {{ form.proj_qapp_id|as_epa }}
        {{ form.qa_category|as_epa }}

        {{ form.intra_or_extra|as_epa }}
        <!-- TODO: IF previous field selection is 'Extramurally' then these
             should be visible, else hidden:
             -->
        <div class="border-left margin-left-2 padding-left-2 margin-top-2 padding-bottom-2" role="group" aria-labelledby="extramural-requirements">
            <label class="usa-label" id="extramural-requirements">
                If you chose Extramurally, then Vehicle Number,
                Non-EPA Organization, and Period of Performance are required.
            </label>
            {{ form.vehicle_num|as_epa }}
            {{ form.non_epa_org|as_epa }}
            {{ form.period_performance|as_epa }}
        </div>

        <!-- Manually render the accessibility checkbox -->
        <div class="usa-form-group" role="group" aria-labelledby="accessibility-legend">
          <legend class="usa-legend" id="accessibility-legend">Accessibility</legend>
          <div class="usa-checkbox">
              {{ form.accessibility }}
              <label class="usa-checkbox__label" for="{{ form.accessibility.id_for_label }}">
                  I do NOT want this QAPP internally shared and
                  accessible on the ORD intranet site.
              </label>
          </div>
      </div>

      {{ form.disciplines|as_epa }}

      {% include 'create_edit_buttons_partial.html' %}
    </form>
{% endblock %}
