{% extends 'main/base_with_side_nav.html' %}
{% load static %}

{% block content %}
    {% load custom_filters %}
    <h2>{{ title }}</h2>
    <form method="post">
        {% csrf_token %}
        <!-- {{ form.as_epa }} -->

        {{ form.non_field_errors }}

        <!-- Render other fields automatically -->
        {{ form.ord_center|as_epa }}
        {{ form.division|as_epa }}
        {{ form.branch|as_epa }}
        <!-- NOTE: Took title out of Section A1, it lives in Qapp model -->
        {{ form.ord_national_program|as_epa }}
        {{ form.version_date|as_epa }}
        {{ form.proj_qapp_id|as_epa }}
        {{ form.qa_category|as_epa }}

        {{ form.intra_or_extra|as_epa }}
        <!-- TODO: IF previous field selection is 'Extramurally' then these
             should be visible, else hidden:
             -->
        <div class="border-left margin-left-2 padding-left-2 margin-top-2 padding-bottom-2">
            <label class="usa-label">
                If you chose Extramurally, then Vehicle Number,
                Non-EPA Organization, and Period of Performance are required.
            </label>
            {{ form.vehicle_num|as_epa }}
            {{ form.non_epa_org|as_epa }}
            {{ form.period_performance|as_epa }}
        </div>

        <!-- Manually render the accessibility checkbox -->
        <div class="usa-formgroup">
          <legend class="usa-legend">Accessibility</legend>
          <div class="usa-checkbox">
              {{ form.accessibility }}
              <label class="usa-checkbox__label" for="accessibility-checkbox">
                  I do NOT want this QAPP internally shared and
                  accessible on the ORD intranet site.
              </label>
          </div>
      </div>

      {{ form.disciplines|as_epa }}

      {% include 'create_edit_buttons_partial.html' %}
    </form>
{% endblock %}
