{% extends 'main/base_with_side_nav.html' %}
{% load static %}

{% block content %}
    <h2>{{ title }}</h2>
    {{ object.render_details }}

    <h3>Additional Signatures</h3>

    <div class="usa-button-group" role="group" aria-label="Signature actions">
        <button class="usa-button" onclick="window.location.href='/qapp/{{object.qapp_id}}/signature/create/'" aria-label="Add new signee">
            Add New Signee
        </button>
        <button class="usa-button usa-button--accent-warm" onclick="viewEditSignature(this)" aria-disabled="true" aria-label="Edit selected signee">
            Edit Signee
        </button>
        <button class="usa-button usa-button--secondary" onclick="deleteSignee(this)" aria-disabled="true" aria-label="Delete selected signee">
            Delete Signee
        </button>
    </div>
    <table class="usa-table grid-col" aria-label="Additional Signatures">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% if additional_signatures %}
            {% for person in additional_signatures %}
            <tr id="{{person.id}}" onclick="rowClick('{{person.id}}')" role="button" tabindex="0" aria-label="Signature from {{person.title}} {{person.name}}">
                <th scope="row">{{person.title}}</th>
                <td>{{person.name}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="2">No Additional Signatures configured.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% include 'detail_buttons_partial.html' %}
{% endblock %}

{% block extend_js %}
<!-- NOTE: JQuery is already included inside base_with_side_nav.html... -->
<!-- NOTE: Not sure why, but JQuery won't work unless I include again here. -->
<script src="https://www.epa.gov/core/assets/vendor/jquery/jquery.min.js?v=3.6.0"></script>
<script src="{% static 'scripts/app.js' %}"></script>
{% endblock %}

{% block scripts %}
<script>
  function viewEditSignature(btn) {
    if ($(btn).attr('disabled') || $(btn).attr('id') === undefined) return;
    window.location.href = `/qapp/{{object.qapp_id}}/signature/${$(btn).attr('id')}/edit/`;
  }
  function deleteSignee(btn){
    if ($(btn).attr('disabled') || $(btn).attr('id') === undefined) return;
    window.location.href = `/qapp/{{object.qapp_id}}/signature/${$(btn).attr('id')}/delete/`;
  }
</script>
{% endblock %}
