{% extends 'main/base_with_side_nav.html' %}
{% load static %}

{% block extend_js %}
<!-- NOTE: JQuery is already included inside base_with_side_nav.html... -->
<!-- NOTE: Not sure why, but JQuery won't work unless I include again here. -->
<script src="https://www.epa.gov/core/assets/vendor/jquery/jquery.min.js?v=3.6.0"></script>
<script src="{% static 'scripts/app.js' %}"></script>
{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>

    <div class="usa-button-group" role="group" aria-label="Distribution list actions">
        <button class="usa-button" onclick="window.location.href='/qapp/{{qapp_id}}/distribution/create/'" aria-label="Add new distribution entry">
            Add New Entry
        </button>
        <button class="usa-button usa-button--accent-warm" onclick="editEntry(this)" aria-disabled="true" aria-label="Edit selected entry">
            Edit Entry
        </button>
        <button class="usa-button usa-button--secondary" onclick="deleteEntry(this)" aria-disabled="true" aria-label="Delete selected entry">
            Remove Entry
        </button>
    </div>
    <table class="usa-table grid-col" aria-label="Distribution List">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Organization</th>
                <th scope="col">Email</th>
                <th scope="col">Project Role</th>
            </tr>
        </thead>
        <tbody>
            {% if distribution_list %}
            {% for entry in distribution_list %}
            <tr id="{{entry.id}}" onclick="rowClick('{{entry.id}}')" role="button" tabindex="0" aria-label="Distribution entry for {{entry.name}} from {{entry.org}}">
                <th scope="row">{{entry.name}}</th>
                <td>{{entry.org}}</td>
                <td>{{entry.email}}</td>
                <td>{{entry.proj_role}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">No recipients have been added to the Distribution List.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% include 'prev_next_buttons_partial.html' %}
{% endblock %}

{% block scripts %}
<script>
    function deleteEntry(btn){
        if ($(btn).attr('disabled') || $(btn).attr('id') === undefined) return;
        window.location.href = `/qapp/{{qapp_id}}/distribution/${$(btn).attr('id')}/delete/`;
    }
    function editEntry(btn){
        if ($(btn).attr('disabled') || $(btn).attr('id') === undefined) return;
        window.location.href = `/qapp/{{qapp_id}}/distribution/${$(btn).attr('id')}/edit/`;
    }
</script>
{% endblock %}
