{% extends "base.html" %}
{% load static %}

{% block content %}
  <h2>Create Section A1</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="form-group">
      <label for="id_new_definitions">New Definitions (acronym: definition):</label>
      {{ form.new_definitions }}
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>

  <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookup.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
  {{ form.media }}
{% endblock %}
