{% extends 'main/base_with_side_nav.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    {{ object.render_details }}
    {{ object.}}

    <h2>{{ b73_label }}</h2>

    <div class="usa-button-group" role="group" aria-label="Hardware/Software actions">
        <a class="usa-button" href="/qapp/{{object.qapp_id}}/hardware-software/create/">Add New Hardware/Software</a>
        <button class="usa-button usa-button--accent-warm" onclick="viewEditEntry(this)" aria-disabled="true">
            Edit Selected Hardware/Software
        </button>
        <button class="usa-button usa-button--secondary" onclick="deleteEntry(this)" aria-disabled="true">
            Delete Selected Hardware/Software
        </button>
    </div>
    <div class="usa-button-group" role="group" aria-label="Hardware defaults">
        <select class="usa-button" aria-label="Select hardware default">
            {% for hdw in hdw_defaults %}
            <option value="{{hdw.Hardware}}">{{hdw.Hardware}}</option>
            {% endfor %}
        </select>
    </div>
    <table class="usa-table grid-col" aria-label="Hardware and Software List">
        <thead>
            <tr>
                <th scope="col">Hardware</th>
                <th scope="col">Operating System (OS)</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            {% if hdw_sfw_list %}
            {% for entry in hdw_sfw_list %}
            <tr id="{{entry.id}}" onclick="rowClick('{{entry.id}}')" role="button" tabindex="0" aria-label="Hardware: {{entry.hardware}}, OS: {{entry.os}}">
                <th scope="row">{{entry.hardware}}</th>
                <td>{{entry.os}}</td>
                <td>{{entry.details}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">No Hardware/Software configured.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <h2>{{ b74_label }}</h2>
    <p>{{ b74_boilerplate }}</p>
    {% include 'detail_buttons_partial.html' %}
{% endblock %}

{% block extend_js %}
<!-- NOTE: JQuery is already included inside base_with_side_nav.html... -->
<!-- NOTE: Not sure why, but JQuery won't work unless I include again here. -->
<script src="https://www.epa.gov/core/assets/vendor/jquery/jquery.min.js?v=3.6.0"></script>
<script src="{% static 'scripts/app.js' %}"></script>
{% endblock %}

{% block scripts %}
<script>
  function viewEditEntry(btn) {
    if ($(btn).attr('disabled') || $(btn).attr('id') === undefined) return;
    window.location.href = `/qapp/{{object.qapp_id}}/hardware-software/${$(btn).attr('id')}/edit/`;
  }
  function deleteEntry(btn){
    if ($(btn).attr('disabled') || $(btn).attr('id') === undefined) return;
    window.location.href = `/qapp/{{object.qapp_id}}/hardware-software/${$(btn).attr('id')}/delete/`;
  }
</script>
{% endblock %}
