{% extends "main/base.html" %}

{% block content %}
<div class="grid-container">
    <div class="grid-row">
        <h2 class="grid-col-9">Team Management</h2>
    </div>

    <div class="grid-row mb-2">
        <h4>{{user.username}}'s Teams</h4>
        <div class="grid-col-12">
        </div>
    </div>

    <table class="usa-table table-bordered table-hover">
        <thead class="usa-table-secondary">
            <tr>
                <th scope="col">Team Name</th>
                <th scope="col">Team Created By</th>
                <th scope="col">Team Last Modified</th>
            </tr>
        </thead>
        <tbody>
            {% if teams %}
            {% for team in teams %}
            <tr id="{{team.id}}" onclick="rowClick('{{team.id}}')">
                <th scope="row">{{team.name}}</th>
                <td>{{team.created_by}}</td>
                <td>{{team.last_modified_date}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr><td colspan="4">You aren't a member of any Teams!</td></tr>
            {% endif %}
        </tbody>
    </table>

    <div class="grid-row">
        <div class="grid-col-4">
            <i class="usa-button usa-button--accent-cool" onclick="viewEditTeam(this, 'edit')" disabled>
                Edit Team <span class="ml-2 glyphicon glyphicon-edit"></span>
            </i>
        </div>
        <div class="grid-col-4">
            <i class="usa-button usa-button--accent-cool" onclick="viewEditTeam(this, 'manage')" disabled>
                View/Manage Members <span class="ml-2 glyphicon glyphicon-user"></span>
            </i>
        </div>
        <div class="grid-col-4">
            <button class="usa-button usa-button--accent-cool" onclick="window.location.href='/teams/team/'">
                Create a new Team <span class="ml-2 glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        function viewEditTeam(btn, method) {
            if ($(btn).attr('disabled') || $(btn).attr('id') === undefined) return;
            window.location.href = '/teams/team/' + $(btn).attr('id') + '/' + method;
        }
    </script>
{% endblock %}