{% extends "base/site_base_support.html" %}
{% load humanize %}
{% load custom_filters %}
{% block support_content %}

<div>
{% if supports %}

	{% if support_type_name == 'suggestion' %}
	<p><h3>Submitted Suggestions: {{query_show}}</h3></p>
	{% else %}
	<p><h3>Submitted Help Requests: {{query_show}}</h3></p>
	{% endif %}

	<table class="usa-table" id="support_table">
		<thead id="support_head">
		<tr>
			<th scope="col">Submitter</th>
			<th scope="col">Ref Num</th>
            <th scope="col">Subject</th>
            <th scope="col">Description</th>
            <th scope="col">Date Created</th>
            <th scope="col">Date Addressed</th>
            <th scope="col">Review Notes</th>
            <th scope="col">Status</th>
			<th scope="col">Edit</th>
			<th scope="col">Show</th>
			<th scope="col">Delete</th>
		</tr>
		</thead>
		<tbody id="support_body">

			{% for obj in supports %}
				<tr>
					<td>{{obj.weblink}}</td>
					<td>{{obj.id}}</td>
					<td>{{obj.subject}}</td>
					<td>{{obj.the_description}}</td>
					<td>{{obj.date_created|date:"Y-m-d"}}</td>
					<td>{{obj.date_resolved|date:"Y-m-d"}}</td>
					<td>{{obj.review_notes}}</td>
					<td>{{obj.status}}</td>
					<td><a href="{% url 'support:edit_support' obj.id %}" class="usa-link">Edit</a></td>
					<td><a href="{% url 'support:show_support' obj.id %}" class="usa-link">Show</a></td>
					<td><a href="{% url 'support:delete_support' obj.id %}" class="usa-link">Delete</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No support issues found.</p>
{% endif %}
</div>

{% endblock %}
