# Check Python versions = "version Python 3.9.0 (64-bit)."
# This requirements document was generated in the following way:
# 1. Create a new python virtual environment.
# 2. Install packages in this environment from the previous requirements file in Github
# 3. Delete the existing requirements file.
# 4. Generate this requirements file.
# This method ensures that all installed packages are in the requirements file, which
# includes packages that are sub-requirements of other packages.

#---------------------------------------------------------------------------------------#
# All of these packages appear to be necessary for both Windows and Linux environments. #
#---------------------------------------------------------------------------------------#

# Required for site to run:
Django==5.1.6                     # Python Modules.
djangorestframework>=3.14.0       # Powerful and flexible toolkit for building Web APIs.
django_extensions>=3.2.3
django-simple-history>=3.8.0
grafana-django-saml2-auth>=3.19.0

psycopg2-binary>=2.9.5            # Python-PostgreSQL Database Adapter.
python-docx>=1.1.2                # Python library for creating and updating Microsoft Word (.docx) files.
reportlab>=4.2.5

# 4-3-2025 JS - I'm not sure if this package was actually being used...
#               Might be a moot point if EPA SSO does auto-logout (which it might)
# django-session-security>=2.6.7    # Provides a mechanism to logout inactive authenticated users.

# #---------------------------------------------------------------------------------------#
# # Used for code management
coverage>=7.6.12                   # Measures code coverage during test execution.
django-docs>=0.3.3                # Allows to serve Sphinx generated docs directly from Django.
pycodestyle>=2.10.0               # Tool to check your Python code against some of the style conventions in PEP 8.
pydocstyle>=6.3.0                 # Static analysis tool for checking compliance with Python docstring conventions in PEP 257.
flake8==6.1.0
black==23.7.0
isort==5.12.0

bump-my-version                   # Package for automated semantic versioning